.App {
  font-family: sans-serif;

  padding: 50px 0;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background: rgb(255, 35, 110);
  background: linear-gradient(
    90deg,
    rgba(255, 35, 110, 1) 0%,
    rgba(152, 64, 195, 1) 50%,
    rgba(10, 158, 187, 1) 100%
  );
  outline: none;
}
.todoapp {
  text-align: center;
}
.todoapp h1 {
  color: whitesmoke;
  text-shadow: 2px 2px rgb(0, 231, 220);
  padding: 10px 15px;
}
.todoapp input {
  color: gray;
  padding: 10px 15px;
  border: none;
  border-radius: 30px 0px 0px 30px;
  outline: none;
  position: relative;
}
.todoapp button {
  padding: 10px 15px;
  border-radius: 0px 30px 30px 0px;
  outline: none;
  margin-left: -2px;

  color: white;
  border: none;
  position: absolute;
  background: linear-gradient(to right, red, rgb(235, 8, 114));
}
/* items of the list  */
.container {
  margin: 10px 30px;
}
.listItems p {
  background: rgb(255, 255, 255);
  margin: 5px;
  padding:10px ;
}
